.my-page {
  width: 100%;
  max-width: 845px;
  margin: 0 auto; }

nav {
  padding-bottom: 20px; }

.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.header__logo ul li {
  margin-left: 25px;
  list-style-type: none; }
.header__logo ul a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  font-family: Tahoma; }
.header__logo ul a:hover {
  color: #888; }

.header__logo .active {
  color: #888; }

main {
  width: 100%;
  max-width: 845px;
  min-height: 269px;
  background-color: #f0f0f0; }

.main__image {
  background-image: url("../img/Layer_1.png");
  max-width: 380px;
  width: 100%;
  min-height: 230px; }

.main__content {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main__texts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main__texts__num1 {
  font-weight: 700;
  line-height: 28px;
  font-size: 21px;
  min-height: 76px;
  max-width: 319px; }

.main__texts__num2 {
  max-width: 373px;
  width: 100%;
  min-height: 93px;
  font-size: 14px;
  color: #8d8d8d; }

.main_button button {
  min-height: 29px;
  max-width: 115px;
  background-color: #da4137;
  border: 0;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
.main_button button a {
  text-decoration: none;
  color: #fff; }
.main_button button:hover {
  background: #bb2c23; }

.article__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 0.8em;
  font-family: Tahoma; }

.article__text {
  color: #8d8d8d;
  font-size: 14px; }

.section__icons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.section__icons p {
  margin-left: 10px; }
.section__icons pre {
  font-size: 14px; }

.section__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__articles {
  max-width: 845px;
  padding-top: 20px; }
.footer__articles p {
  font-size: 14px;
  color: #8c8c8c; }
.footer__articles h3 {
  line-height: 3px;
  font-family: Tahoma; }

@media screen and (max-width: 768px) {
  .header__logo ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .section__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    margin-left: 5%; } }
