//Variables
$colorForButton: #da4137


//

.my-page

  width: 100%
  max-width: 845px
  margin: 0 auto




nav
  padding-bottom: 20px


.header__logo
  display: flex
  justify-content: space-between
  align-items: center


.header__logo ul
  display: flex

  li
    margin-left: 25px
    list-style-type: none
  a
    text-decoration: none
    color: #000000
    font-weight: 700
    font-size: 16px
    font-family: Tahoma
    &:hover
      color: #888

.header__logo
  .active
    color: #888


//Header end

//Main start

main
  width: 100%
  max-width: 845px
  min-height: 269px
  background-color: #f0f0f0

.main__image
  background-image: url('../img/Layer_1.png')
  max-width: 380px
  width: 100%
  min-height: 230px

.main__content
  width: 100%
  padding-top: 20px
  display: flex
  justify-content: space-around
  flex-wrap: wrap





.main__texts
  display: flex
  flex-direction: column
  justify-content: space-between


.main__texts__num1
  font-weight: 700
  line-height: 28px
  font-size: 21px
  min-height: 76px
  max-width: 319px


.main__texts__num2
  max-width: 373px
  width: 100%
  min-height: 93px
  font-size: 14px
  color: #8d8d8d

.main_button
  button
    min-height: 29px
    max-width: 115px
    background-color: #da4137
    border: 0
    outline: 0
    border-radius: 5px
    a
      text-decoration: none
      color: #fff
    &:hover
      background: darken($colorForButton, 10)

//Main end



//Article start
.article__title

  font-weight: 700
  font-size: 18px
  line-height: 3px
  font-family: Tahoma


.article__text
  color: #8d8d8d
  font-size: 14px


//Article end

//Section icons START

.section__icons
  width: 100%
  display: flex
  justify-content: space-between
  padding-top: 10px
  flex-wrap: wrap
  p
    margin-left: 10px

  pre
    font-size: 14px

.section__icon
  display: flex
  align-items: center


//Section icons END


//Footer START

.footer__articles
  max-width: 845px
  padding-top: 20px
  p
    font-size: 14px
    color: #8c8c8c
  h3
    line-height: 3px
    font-family: Tahoma

//Footer END

//Media start

@media screen and (max-width: 768px)

  .header__logo ul
    display: flex
    flex-direction: column

  .section__icon
    display: flex
    width: 45%
    margin-left: 5%
